<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Store</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body class="body">
    <section class="navbar">
      <div class="logo">
        <img
          src="../static/img/E_Commerce_logo.png"
          alt="logo"
          width="250"
          height="60"
        />
      </div>
      <ul class="nav-links">
        <li><a class="active" href="/?user_id={{ user_id }}">Home</a></li>
        {% if not user_id %}
        <li><a href="/signin">Log In</a></li>
        <li><a href="/signup">register</a></li>
        {% else %}
        <li><a href="/carts?user_id={{ user_id }}">Cart</a></li>
        <li><a href="/transaction?user_id={{ user_id }}">Transaction</a></li>
        <li><a href="/profile?user_id={{ user_id }}">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/contact?user_id={{ user_id }}">Contact Us</a></li>
        <li><a href="/aboutus?user_id={{ user_id }}">About Us</a></li>
        {% endif %}
      </ul>

      <form id="search-form">
        <input
          type="text"
          id="search"
          name="search"
          placeholder="Search for products"
          required
        />
        <button type="submit">Search</button>
      </form>
    </section>

    <!-- Hero Section -->

    <section id="hero">
      <h4>Trade-in-offer</h4>
      <h2>Super Value Deals</h2>
      <h1>On All Products</h1>
      <p>Save More with coupns & up to 70% off!</p>
      <a href="#product_details" class="btn">Shop Now</a>
    </section>

    <!-- Feature Section -->

    <section id="feature" class="section-p1">
      <div class="fe-box">
        <img src="../static/img/features/f1.png" alt="" />
        <h6>Free Shipping</h6>
      </div>

      <div class="fe-box">
        <img src="../static/img/features/f2.png" alt="" />
        <h6>Online Order</h6>
      </div>

      <div class="fe-box">
        <img src="../static/img/features/f3.png" alt="" />
        <h6>Save Money</h6>
      </div>

      <div class="fe-box">
        <img src="../static/img/features/f4.png" alt="" />
        <h6>Promotions</h6>
      </div>

      <div class="fe-box">
        <img src="../static/img/features/f5.png" alt="" />
        <h6>Happy Sell</h6>
      </div>

      <div class="fe-box">
        <img src="../static/img/features/f6.png" alt="" />
        <h6>24/7 Hrs Supports</h6>
      </div>
    </section>

    <!-- Product Details Section -->
    <div class="product-container" id="product_details">
      <h1 class="heading" id="product-list">Product Details</h1>
      {% if products %}
      <div class="product">
        {% for product in products %}
        <div class="product-card">
          <h2>{{ product.name }}</h2>
          <p class="product-description">{{ product.description }}</p>
          <p class="product-price">Price: ${{ product.price }}</p>
          <div class="button-container">
            <button class="buy-button" data-product-id="{{ product._id }}">
              Buy
            </button>
            <button class="cart-button" data-product-id="{{ product._id }}">
              Add to Cart
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="error-message">Product not found</p>
      {% endif %}
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <hr class="footer-line" />
        <p>&copy; 2024 Owner Viraj Kunjir. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
